a:hover {
    color: green;
  }
  
  tr:nth-child(odd) {
    background-color: lightblue;
  }

  h1:hover {
    color: aqua;
  }

  .ltbl :hover {
    background-color: yellow;
  }
 
  .even :hover {
    background-color: blueviolet;
  }